body {
    background-image: url("../images/leather.png");
}

#logo {
	margin: 0 auto;
	display: block;
	width: 500px;
	height: 250px;
}

#main {
	background-color: white;
	margin: 30px 10% 80px 10%;
	background-image: url("../images/parchment.jpg");
	border-radius: 15px;
	border: 1px darkred solid;
	font-family: 'IM Fell English SC', serif;
	padding-bottom: 20px;
}

#welcome {
	font-size: 50px;
}

#home h3 {
	margin-bottom: 30px;
}

#home p {
	font-family: 'Cormorant', serif;
	font-size: 20px;
}

#menu1, #menu2 {
	font-family: 'Cormorant', serif;
	font-size: 20px;
}

#menu1 h3, #menu2 h3 {
	font-family: 'IM Fell English SC', serif;
	font-size: 30px;
}

.btn-primary {
	margin: 10px 0px;
	font-family: 'IM Fell English SC', serif;
	font-size: 30px;
	background-color: darkred;
	border: 1px solid black;
	color: burlywood;
}

.nav-tabs {
	border-bottom: 1px solid gray;
	font-size: 20px;
}

.nav-tabs .nav-link {
	border: 1px solid gray;
}

.nav-tabs .nav-link:hover{
	border: 1px solid black;
}

a.nav-link {
	border-color: black;
	color: darkred;
}

a.nav-link.active.show {
	background-color: darkred;
	border-color: black;
	color: burlywood;
}